<div class="left-container">
  <div class="main-container scroll-container">
    <div class="main-header">
      <h1>Edit Profile</h1>
    </div>
    <div class="main-content-container">
      <%= form_tag "/users/#{@user.id}", method: :patch do %>
        <div class="register_form" class="form-group"><label>First Name: </label><input type="text" name="first_name" value="<%= @user.first_name %>" class="form-control"></div>
        <br>
        <div class="register_form" class="form-group"><label>Last Name: </label><input type="text" name="last_name" value="<%= @user.last_name %>" class="form-control"></div>
        <br>
        <div class="register_form" class="form-group"><label>Email: </label><input type="email" name="email" value="<%= @user.email %>" class="form-control"></div>
        <br>
        <div class="register_form" class="form-group"><label>Username: </label><input type="text" name="user_name" value="<%= @user.user_name %>" class="form-control"></div>
        <br>
        <div class="register_form" class="form-group"><label>Birthdate: </label><input name="birth_date" class="form-control" value="<%= @user.birth_date %>"></input></div>
        <br>
        <div class="register_form" class="form-group"><label>Favorite Color: </label><input name="favorite_color" value="<%= @user.favorite_color %>" class="form-control"></input></div>
        <br>
        <div class="register_form" class="form-group"><label>New Password: </label><input type="password" name="password" class="form-control"></input></div>
        <br>
        <div class="register_form" class="form-group"><label>Password Confirmation: </label><input type="password" name="password_digest" class="form-control"></input></div>
        <br>
        <div class="register_form" class="form-group"><input type="submit" value="Complete" class="btn btn-default"></div>
        <br>
      <% end %>
    </div>
    <footer>
      <div class="footer-lower">
        <div class="row">
          <div class="col-sm-12">
            <div class="copyright">Copyright 2017. All rights reserved.</div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>

