<div class="left-container">
  <div class="main-container scroll-container">
    <div class="main-header"><h1>My Profile</h1></div>
    <div class="my-image"><img src="/images/emily.jpg" alt="" /></div>
    <div class="main-content-container">
      <h3>Username: <%= @user.user_name.capitalize %></h3>
      <p><strong>Name: <%= @user.first_name %> <%= @user.last_name %></strong></p>
      <p><strong>Email: <%= @user.email %></strong></p>
      <p><strong>Birthday: <%= @user.birth_date %></strong></p>
      <p><strong>Favorite color: <%= @user.favorite_color %></strong></p>
      <% if current_user %>
        <%= link_to "Edit Profile", "/users/#{@user.id}/edit", class: "btn btn-success" %>
      <% end %>
    </div>
  </div>    
</div>
