<h3>Edit Profile Page</h3>

<%= form_tag("/projects/#{@project.id}", method: :patch) do %>
    <div>
      <%= label_tag :name %>
      <%= text_field_tag :name, @project.name %>
    </div>
    <br>
    <div>
      <%= label_tag :start_date %>
      <%= text_field_tag :start_date, @project.start_date %>
    </div>
    <br>
    <div>
      <%= label_tag :finish_date %>
      <%= text_field_tag :finish_date, @project.finish_date %>
    </div>
    <br>
    <div>
      <%= label_tag :concept %>
      <%= text_field_tag :concept, @project.concept %>
    </div>
    <br>
    <p><%= submit_tag "Edit my project" %></p>
  <% end %>
