
<div class="left-container">
  <div class="main-container scroll-container">
    <div class="blog-post-container">
      <div class="standard-post-box format-standard" style="background-image: url(/);"> 
        <em class="post-format-icon"></em>
        <div class="standard-post-box-content">
          <h2 class="standard-post-title"><a href="/projects/new" title="Start a new project"><center>Start a new project</center></a></h2>
        </div>
      </div>
      <% @projects.each do |project| %>
        <!-- post start -->
        <div class="list-post-box format-standard"> 
          <div class="list-post-left">
          <!-- post thumbnail -->

          </div>
          <div class="list-post-right">
            <h4 class="list-post-title"><a href="/" title="Project"><%= project.name.capitalize %></a></h4>
            <div class="list-date"><i class="fa fa-calendar-o"></i> Start Date: <%= project.start_date %></div>
            <div class="list-date"><i class="fa fa-calendar-o"></i> Deadline: <%= project.finish_date %></div>
            <div>Concept: <%= project.concept %></div>
            </div>
            <a href="/projects/<%= project.id %>/edit" class="btn more">View Full Project</a>
          </div>
        <!-- post end --> 
      <% end %>
    </div>
    <footer>
      <div class="footer-lower">
        <div class="row">
          <div class="col-sm-12">
            <div class="copyright">Copyright 2017. All rights reserved.</div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>