<%= form_tag "/colors", method: :get do %>
  <%= color_field_tag 'color', "#82c91d", id:"jasmine", name:"the_color"%>
  <%= submit_tag "Find my palette" %>
<% end %>

<%= form_tag "/cards", method: :post do %>
  <h3>Triad Palette</h3>
    <input id="accept" name="accept" type="checkbox" value="1" />
  <div>
    <% @hex.palette.triad.each do |triad_color|%>
      <div style="background:<%= triad_color %>" class="box"><input name="colors[]" value="<%= triad_color %>" type="hidden"><%= triad_color %></div>
    <% end %>
  </div>
  <br>
  <h3>Tetrad Palette</h3>
    <input id="accept" name="accept" type="checkbox" value="1" />
  <div>
    <% @hex.palette.tetrad.each do |tetrad_color|%>
      <div style="background:<%= tetrad_color %>" class="box"><%= tetrad_color %></div>
    <% end %>
  </div>
  <br>
  <h3>Complement Palette</h3>
    <input id="accept" name="accept" type="checkbox" value="1" />
  <div>
    <% @hex.palette.complement.each do |complement_color|%>
      <div style="background:<%= complement_color %>" class="box"><%= complement_color %></div>
    <% end %>
  </div>
  <br>
  <h3>Split Complement Palette</h3>
    <input id="accept" name="accept" type="checkbox" value="1" />
  <div>
    <% @hex.palette.split_complement.each do |split_complement_color|%>
      <div style="background:<%= split_complement_color %>" class="box"><%= split_complement_color %></div>
    <% end %>
  </div>
  <br>
  <h3>Analogous Palette</h3>
    <input id="accept" name="accept" type="checkbox" value="1" />
  <div>
    <% @hex.palette.analogous.each do |analogous_color|%>
      <div style="background:<%= analogous_color %>" class="box"><%= analogous_color %></div>
    <% end %>
  </div>
  <br>
  <h3>Monochromatic Palette</h3>
    <input id="accept" name="accept" type="checkbox" value="1" />
  <div>
    <% @hex.palette.monochromatic.each do |monochromatic_color|%>
      <div style="background:<%= monochromatic_color %>" class="box"><%= monochromatic_color %></div>
    <% end %>
  </div>
  <br>
  <br>
  <br>
  <p><%= submit_tag "Add Palette to My Wall"%></p>
<% end %>
