<%= form_tag "/colors", method: :get do %>
  <%= color_field_tag 'color', "#c99ea7", id:"jasmine", name:"the_color"%>
  <%= submit_tag "Find my palette" %>
<% end %>

<%= form_tag "/cards", method: :post do %>
  <h3>Triad Palette</h3>
  <div>
    <% @hex.palette.triad.each do |triad_color|%>
      <div style="background:<%= triad_color %>" class="box"><input name="colors[card_one][]" value="<%= triad_color %>" type="checkbox"></div>
    <% end %>
    <br>
    <br>
  </div>
  <h3>Tetrad Palette</h3>
  <div>
    <% @hex.palette.tetrad.each do |tetrad_color|%>
      <div style="background:<%= tetrad_color %>" class="box"><input name="colors[card_two][]" value="<%= tetrad_color %>" type="checkbox"></div>
    <% end %>
  </div>
  <br>
  <br>
  <h3>Split Complement Palette</h3>
  <div>
    <% @hex.palette.split_complement.each do |split_complement_color|%>
      <div style="background:<%= split_complement_color %>" class="box"><input name="colors[card_two][]" value="<%= split_complement_color %>" type="checkbox"></div>
    <% end %>
  </div>
  <br>
  <br>
  <h3>Analogous Palette</h3>
  <div>
    <% @hex.palette.analogous.each do |analogous_color|%>
      <div style="background:<%= analogous_color %>" class="box"><input name="colors[card_two][]" value="<%= analogous_color %>" type="checkbox"></div>
    <% end %>
  </div>
  <br>
  <br>
  <h3>Monochromatic Palette</h3>
  <div>
    <% @hex.palette.monochromatic.each do |monochromatic_color|%>
      <div style="background:<%= monochromatic_color %>" class="box"><input name="colors[card_two][]" value="<%= monochromatic_color %>" type="checkbox"></div>
    <% end %>
  </div>
  <br>
  <br>
  <br>
  <p><%= submit_tag "Add All Checked Palette to My Wall"%></p>
<% end %>
